*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primary-color: white;
}
header{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vh;
}
nav{
    padding: 2vh 3vh;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3), 5px 0 5px rgba(0,0,0,0.3);
}
nav>a{
    padding: 0vh 4vh;
}
main{
    width: 100%;
    height: 90vh;
    padding: 5vh 7vh;
    background-color: #EEF1FB;
    display: flex;
}
.calendar{
    width: 300px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
    padding: 2vh 1.5vh;
    margin-right: 50px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5), 5px 0px 5px rgba(0,0,0,0.5);
}
.calendar>div:nth-child(1){
    width: 100%;
    height: 45px;
    padding: 0vh 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar>table{
    width: 100%;
    height: 250px;
}
td{
    text-align: center;    
}
td:hover{
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}
td.todayDate{    
    border-radius: 50%;
    background-color: #6F6AF8;    
}
td.nonMonth{
    color: gray;
}
td.selected{
    border-radius: 50%;
    color: white;
    background-color: rgb(213, 24, 24);
}
.optionsDiv{
    width: 250px;
    height: 120px;
    padding: 0vh 2vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3),3px 0 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.optionsDiv select{
    width: 80px;
    height: 20px;
    border-radius: 4px;
    margin-left: 15px;
}
.jumpToday{
    align-self: center;
    border: 1px solid gray;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #eeeff4;
}
.weatherApp{
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    padding: 2vh 1.5vh;
    margin-left: 50px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3), 3px 0px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#location{
    width: 150px;
    height: 20px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 0px 10px;
}
.searchWeatherButton{
    width: 70px;
    height: 30px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
.weatherDisplay{
    width: 300px;
    height: 370px;
    color: white;
    border-radius: 10px;
    padding: 2vh 1.5vh;
    margin-left: 50px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5), 5px 0px 5px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #00b894, #00cec9);
    /* background: linear-gradient(to bottom, #27ae60, #2ecc71); */

}
.weatherDisplay>h3, 
.weatherDisplay>h4{
    text-align: center;
    margin-bottom: 5px;
}
.weatherDisplay>div:first-of-type{
    margin: 10px 0px;
    width: 100%;
    height: 170px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weatherDisplay>div>img{
    height: 100%;
}
.weatherDisplay>div>div{
    margin-right: 10px;
}
.extraData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.weatherDisplay>.extraData>div{
    width: 130px;
    height: 40px;
    margin: 0px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}